@use "sass:math";

.piano-wrapper {
    width: 100%;
    padding-bottom: 15px;
}

$key-width: 60px;
$black-key-width: $key-width * 0.6;
$key-height: 180px;
$black-key-height: $key-height * 0.6;


.piano {

    .key {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        gap: 10px;
        font-size: .8rem;
        padding-bottom: 5px;
        width: $key-width;
        text-align: center;
        height: $key-height;
        background: var(--focus-2);
        border: 1px solid var(--gray-5);
        cursor: pointer;

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        &.active {
            background: var(--focus-5);
        }

        &.success {
            background: var(--green-5);
        }

        &.error {
            background: var(--red-5);
        }

        &.sharp {
            position: relative;
            z-index: 1;

            background: var(--focus-11);
            color: var(--focus-1);

            width: $black-key-width;
            margin-left: -(math.div($black-key-width, 2));
            margin-right: -(math.div($black-key-width, 2));
            height: $black-key-height;
            top: 0;

            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            &.active {
                background: var(--focus-7);
            }

            &.success {
                background: var(--green-11);
            }

            &.error {
                background: var(--red-11);
            }
        }
    }
}